/* ---------- Font Import ---------- */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* ---------- Small Media First (414px) ---------- */


/* ----- Global ----- */

body {
    margin: 0 auto;
    background-color: rgba(122, 191, 191, 0.5);
    max-width: 414px;
    color: #0D0D0D;
    display: grid;
}

a {
    text-decoration: none;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

/* ----- Header ----- */

header {
    background-color: #F2F2F2;
    max-width: 414px;
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
    text-align: center;
    margin-top: 100px;
}

/* ----- Main ----- */

main {
    display: grid;
    background-color: #F2F2F2;
    max-width: 414px;
}

h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 18px;
    margin-bottom: 16px;
}

dt {
    font-family: 'Monserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
}

dd {
    font-family: 'Monserrat', sans-serif;
    font-size: 16px;
}

/* Save, Share, Print, Jump Buttons */

menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    list-style: none;
    height: 95px;
}

menu span {
    position: relative;
    top: 60px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 18px;
    color: #EB5428;
    grid-row-start: 1;
}

menu span:hover {
    color: #F2F2F2;
    background-color: #EB5428;
}

#save, #share, #print, #jump {
    border: transparent;
    background-color: transparent;
    cursor: pointer;
}

#save {
    grid-column-start: 1;
    margin-left: 32px;
}

#share {
    grid-column-start: 2;
    margin-left: 22px;
}

#print {
    position: relative;
    left: -10px;
    grid-column-start: 3;
    margin-left: 15px;
}

#jump {
    position: relative;
    left: -4px;
    grid-column-start: 4;
    margin-right: 2px;
}

/* - */

#taco {
    width: 414px;
    height: auto;
}

#intro_p {
    margin: 8px 8px 8px 8px;
    line-height: 24px;
}

/* --- Details --- */

.new_line {
    display: flex;
    line-height: 18px;
}

span.hidden {
    font-size: 0px;
}

#details dl {
    margin: 4px 0px 2px 8px;
}

#details dt {
    margin-right: 16px;
}


/* --- Ingredients --- */

#ingredients ul {
    position: relative;
    left: 24px;
    list-style: square;
}

#ingredients li {
    font-family: 'Monserrat', sans-serif;
    font-size: 16px;
    line-height: 32px;
}


/* --- Directions --- */

ol {
    font-family: 'Monserrat', sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin: 0px 8px 0px 28px;
}

ol li {
    margin: 16px 0px;
}

/* --- Side Dishes --- */

h3 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 25px;
}

#side_dishes {
    background-color: #7ABFBF;
}

#side_dishes img{
    width: 90px;
    margin-left: 8px;
}

#side_dishes a {
    color: #0D0D0D;
}

#side_dishes a:hover {
    background-color: #EB5428;
}

#rice a {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#rice img {
    display: grid;
    grid-column-start: 1;
}

#rice p, #rice h3, #rice dl {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 4;
}

#salsa a {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#salsa img {
    display: grid;
    grid-column-start: 1;
}

#salsa p, #salsa h3, #salsa dl {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 4;
}

#guacamole a {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#guacamole img {
    display: grid;
    grid-column-start: 1;
}

#guacamole p, #guacamole h3, #guacamole dl {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 4;
}

#tortillas a {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#tortillas img {
    display: grid;
    grid-column-start: 1;
}

#tortillas p, #tortillas h3, #tortillas dl {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 5;
}

#side_dishes h3 {
    position: relative;
    top: 24px;
    left: 20px;
}

#side_dishes p {
    position: relative;
    top: 42px;
    left: 20px;
    width: 250px;
}

#side_dishes dt {
    position: relative;
    top: -22px;
    left: 20px;
}

#side_dishes dd {
    position: relative;
    top: -18px;
    left: 16px;
}


/* --- Navigation --- */

nav {
    display: grid;
    grid-row-start: 1;
    position: sticky;
    box-shadow: 0px 2px 5px rgba(5, 5, 5, 0.5)
}

#navigation {
    position: relative;
    top: -2950px;
    background-color: #F2F2F2;
    z-index: 4;
}

#nav_reposition_header {
    position: relative;
    top: 95px;
}

#nav_reposition_main {
    position: relative;
    top: 95px;
}

#nav_reposition_footer {
    position: relative;
    top: 95px;
}


#nav_title {
    position: absolute;
    width: 236px;
    height: 95px;
    top: 0px;
    left: 23%;
    font-size: 0px;
    background-color: #EB5428;
}

#nav_title svg {
    position: relative;
    top: 16px;
}

svg[id="signup_icon"]:hover {
    stroke: #FFFFFF;
    transition: stroke .2s ease-in-out;
}

#nav_signup {
    position: absolute;
    top: 0px;
    left: 80%;
    background-color: #FFFFFF;
    padding: 16px 18px;
}

#nav_signup:hover {
    background-color: #EB5428;
    transition: background-color .2s ease-in-out;
}

#nav_signup span {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    color: #0D0D0D;
}

#nav_signup span:hover {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    transition: color .2s ease-in-out;
}

#signup_icon {
    margin-left: 3px;
}

.nav_links {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    color: #EB5428;
}

nav ul {
    background-color: #FFFFFF;
    text-align: center;
}

nav li {
    padding-top: 8px;
    padding-bottom: 10px;
}
/* Search Form */

form {
    display: inline-flex;
    position: absolute;
    top: 106px;
    left: 115px;
    margin-top: 16px;
}

input[type="search"] {
    position: relative;
    right: 140px;
    width: 260px;
    height: 50px;
    border: 2px solid #EB5428;
}

#search-button {
    position: relative;
    left: 180px;
    font-size: 0px;
    width: 60px;
    height: 50px;
    background-color: #EB5428;
    border: none;
    cursor: pointer;
}

#search_icon {
    position: relative;
    top: -45px;
    left: 190px;
    cursor: pointer;
}

/* Nav Menu */

h4 {
    display: none;
}

span span {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    margin-left: 3px;
}

nav img {
    display: none;
}

label[for="dropdown_menu"] {
    padding: 16px 17px 16px 36px;
    background-color: #FFFFFF;
}

#menu_clickable_content {
    position: relative;
    left: -8px;
}


/* JS Fiddle example: 
https://jsfiddle.net/1fzgah3n/ 


Menu Code for Mobile First Style (minus the bits you know how to do): */

nav ul {
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
    z-index: 3;
}

label[for="dropdown_menu"] {
    cursor: pointer;
    display: inline-block;
    width: 45px;
    position: relative;
    user-select: none;
}

label[for="dropdown_menu"] span {
    display: block;
    left: -20%;

}
label[for="dropdown_menu"] span:before, label[for="dropdown_menu"] span:after {
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
label[for="dropdown_menu"] span:before {
    top: 5px;
}
label[for="dropdown_menu"] span:after {
    top: -5px;
}
input[id="dropdown_menu"]  {
    display: none;
}
input[id="dropdown_menu"]:checked ~ ul {
    max-height: 500px;
}
input[id="dropdown_menu"]:checked ~ label[for="dropdown_menu"] span {
    background: transparent;
}

input[id="dropdown_menu"]:checked ~ label[for="dropdown_menu"]:not(.steps) span:before, input[id="dropdown_menu"]:checked ~ label[for="dropdown_menu"]:not(.steps) span:after {
    top: 0;
}

/*
@media screen and (min-width:834px) {
    ul {
        overflow: visible;
        position: absolute;
        top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    label span, input {
        display: none;
    }
} */

/* --- Connect --- */

#connect {
    height: 0px;
    background-color: #FFFFFF;
}

#connect ul {
    position: relative;
    top: -95px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #FFFFFF;
    height: 95px;
}

#connect li {
    position: relative;
    left: 24px;
}

#connect span {
    position: relative;
    top: 64px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    color: #EB5428;
}

#connect span:hover {
    background-color: #EB5428;
    color: #FFFFFF;
}

#connect svg {
    position: relative;
    left: 14px;
}

#facebook {
    display: grid;
    grid-column-start: 1;
}

#facebook span {
    position: relative;
    left: 4px;
    width: 65px;
}

#instagram {
    display: grid;
    grid-column-start: 2;
}

#instagram span {
    width: 70px;
}

#youtube {
    display: grid;
    grid-column-start: 3;
}

#youtube span {
    position: relative;
    left: 6px;
    width: 55px;
}

#tiktok {
    display: grid;
    grid-column-start: 4;
}

#tiktok span {
    position: relative;
    left: 9px;
    width: 50px;
}

/* ----- Footer ----- */

footer {
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: #FFFFFF;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    height: 330px;
}

footer img {
    position: relative;
    top: 16px;
    left: 96px;
    display: grid;
    grid-row-start: 1;
    width: 225px;
}

small {
    position: relative;
    top: 64px;
    display: grid;
    grid-row-start: 2;
    text-align: center;
    height: 46px;
}

/* ---------- Medium Media (768px) ---------- */

@media screen and (min-width: 768px) {

    /* ----- Global ----- */

    body {
        max-width: 768px;
    }


    /* ----- Header ----- */

    header {
        max-width: 768px;
    }

    h1 {
        text-align: left;
        margin: 24px 0px 24px 16px;
    }

    #taco {

        width: 768px;
    }

    /* Save, Share, Print, Jump Buttons */

    menu {
        position: absolute;
        width: 768px;
        background-color: rgba(242, 242, 242, 0.75);
        height: 95px;
    }

    #save, #share, #print, #jump {
        border: transparent;
        background-color: transparent;
        cursor: pointer;
    }

    #save svg, #share svg, #print svg, #jump svg {
        position: relative;
        top: 8px;
    }

    #save span, #share span, #print span, #jump span {
        position: relative;
        top: 24px;
    }


    #save span {
        position: relative;
        left: 36px;
    }

    #share span {
        position: relative;
        left: 40px;
    }

    #print {
        left: 25px;
    }

    #print span {
        left: 38px;
    }

    #jump span {
        position: relative;
        left: 65px;
    }

    /* ----- Main ----- */

    main {
        max-width: 768px;
    }

    .new_line {
        justify-content: center;
    }

    #medium_grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #ingredients {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    #directions {
        grid-column-start: 2;
        grid-column-end: 5;
    }

    #sides {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    #rice {
        grid-column-start: 1;
        grid-row-start: 1;
    }

    #salsa {
        grid-column-start: 2;
        grid-row-start: 1;
    }

    #guacamole {
        grid-column-start: 1;
        grid-row-start: 2;
    }

    #tortillas {
        grid-column-start: 2;
        grid-row-start: 2;
    }

    /* Navigation */

    #navigation {
        position: relative;
        top: -2620px;
        background-color: #F2F2F2;
        z-index: 4;
    }

    #nav_reposition_header {
        top: 200px;
    }

    #nav_reposition_main {
        top: 200px;
    }

    #nav_reposition_footer {
        top: 0px;
    }

    label[for="dropdown_menu"] {
        display: none;
    }

    nav {
        height: 200px;
    }

    nav img {
        position: relative;
        top: -85px;
        display: initial;
        width: 60px;
    }

    nav ul {
        display: flex;
        overflow: visible;
        max-height: fit-content;
    }
 
    nav li:nth-child(n+2):nth-child(-n+8) {
        position: relative;
        top: 90px;
        height: 100px;
        padding-bottom: 2px;
    }

    nav li:nth-child(n+2):nth-child(-n+8):hover {
        background-color: #EB5428;
    }

    .nav_links {
        position: relative;
        top: 70px;
    }

    .nav_links:hover {
        color: #FFFFFF;
    }

    #nav_title {
        width: 90px;
        height: 90px;
        left: 0px;
    }

    #nav_signup {
        display: grid;
        position: absolute;
        left: 678px;
        width: 90px;
        height: 90px;
        padding: 0px;
        z-index: 4;
    }

    #nav_signup svg {
        position: relative;
        top: 10px;
        left: 20px;
        grid-row-start: 1;
    }

    #nav_signup span {
        grid-row-start: 2;
    }

    form {
        top: 0px;
        left: 370px;
        z-index: 3;
    }

    #search-button {
        top: -16px;
        left: 222px;
    }

    #search_icon {
        top: 4px;
        left: 168px;
    }

    /* Connect */

    #connect ul {
        display: flex;
    }

    #connect li {
        position: relative;
        top: -90px;
        left: 390px;
        margin: 0px 16px;
        z-index: 2;
    }

    /* ----- Footer ----- */

    footer {
        max-width: 768px;
        padding-bottom: 8px;
    }

    footer img {
        top: 36px;
    }

    small {
        top: 60px;
        left: -174px;
    }

}


/* ---------- Large Media (1280px) ---------- */

@media screen and (min-width: 1280px) {

     /* ----- Global ----- */

     body {
        max-width: 1280px;
    }


    /* ----- Header ----- */

    header {
        max-width: 1280px;
    }

    h1 {
            text-align: center;
            margin: 24px 0px;;
        }

    #large_grid {
        display: grid;
    }

   header p {
        grid-column-start: 3;
   }

   #intro_p {
    line-height: 30px;
   }

    #taco {
        grid-column-start: 2;
        width:500px;
    }

    /* Save, Share, Print, Jump Buttons */

    menu {
        display: block;
        position: relative;
        width: 125px;
        height: 719px;
        padding-top: 27px;
        background-color: #FFFFFF;
        border: 2px solid #EB5428;
    }

    #save {
        position: relative;
        left: -24px;
    }

    #share {
        position: relative;
        top: 25px;
        left: -22px;
    }

    #print {
        position: relative;
        top: 50px;
        left: -12px;
    }

    #jump {
        position: relative;
        top: 80px;
        left: -24px;
    }

    #jump svg {
        position: relative;
        left: 28px;
    }

    #jump span span {
        display: none;
    }



    /* ----- Main ----- */

    main {
        max-width: 1280px;
    }

    .new_line {
        display: inline-block;
        text-align: center;
    }

    #details {
        background-color: #0D0D0D;
    }

    #details h2 {
        color: #7ABFBF;
    }

    #details dl {
        display: grid;
        color: #7ABFBF;
    }

    #details dd {
        position: relative;
        left: -8px;
        padding-bottom: 4px;
    }

    .new_line:first-child {
        grid-column-start: 1;
    }

    .new_line:nth-child(2) {
        grid-column-start: 2;
    }

    .new_line:nth-child(3) {
        grid-column-start: 3;
    }

    .new_line:nth-child(4) {
        grid-column-start: 4;
    }

    .new_line:last-child {
        grid-column-start: 5;
    }

    #sides {
        display: inline-flex;
    }

    #sides a {
        width: 265px;
        padding: 8px
    }

    #side_dishes h3 {
        position: relative;
        top: 0px;
    }

    #side_dishes img {
        width: 248px;
    }

    #side_dishes p {
        position: relative;
        top: 0px;
    }

    #side_dishes dl {
        position: relative;
        top: 0px;
    }

    #rice, #salsa, #guacamole, #tortillas {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        width: 328px;
        height: 328px;
    }

    #rice img, #salsa img, #guacamole img, #tortillas img {
        grid-column-start: 1;
        grid-row-start: 1;
    }

    #rice h3, #salsa h3, #guacamole h3, #tortillas h3 {
        grid-column-start: 1;
        grid-row-start: 2;
    }

    #rice p, #salsa p, #guacamole p, #tortillas p {
        grid-column-start: 1;
        grid-row-start: 3;
    }

    #rice dl, #salsa dl, #guacamole dl, #tortillas dl {
        grid-column-start: 1;
        grid-row-start: 4;
    }

    /* Navigation */

    #navigation {
        position: relative;
        top: -2800px;
        background-color: #F2F2F2;
        z-index: 4;
    }

    #nav_reposition_header {
        top: 200px;
    }

    #nav_reposition_main {
        top: 200px;
    }

    #nav_reposition_footer {
        top: 0px;
    }

    label[for="dropdown_menu"] {
        display: none;
    }

    nav {
        height: 200px;
    }

    nav img {
        position: relative;
        top: -85px;
        display: initial;
        width: 60px;
    }

    nav ul {
        display: flex;
        overflow: visible;
        max-height: fit-content;
    }
 
    nav li:nth-child(n+2):nth-child(-n+8) {
        position: relative;
        top: 90px;
        height: 100px;
        padding-bottom: 2px;
    }

    nav li:nth-child(n+2):nth-child(-n+8):hover {
        background-color: #EB5428;
    }

    .nav_links {
        position: relative;
        top: 70px;
    }

    .nav_links:hover {
        color: #FFFFFF;
    }

    #nav_title {
        width: 90px;
        height: 90px;
        left: 0px;
    }

    #nav_signup {
        display: grid;
        position: absolute;
        left: 678px;
        width: 90px;
        height: 90px;
        padding: 0px;
        z-index: 4;
    }

    #nav_signup svg {
        position: relative;
        top: 10px;
        left: 20px;
        grid-row-start: 1;
    }

    #nav_signup span {
        grid-row-start: 2;
    }

    form {
        top: 0px;
        left: 370px;
        z-index: 3;
    }

    #search-button {
        top: -16px;
        left: 222px;
    }

    #search_icon {
        top: 4px;
        left: 168px;
    }

    /* Connect 

    #connect ul {
        display: flex;
    }

    #connect li {
        position: relative;
        top: -90px;
        left: 390px;
        margin: 0px 16px;
        z-index: 2;
    }

    /* ----- Footer ----- 

    footer {
        max-width: 768px;
        padding-bottom: 8px;
    }

    footer img {
        top: 36px;
    }

    small {
        top: 60px;
        left: -174px;
    } */

}