/* ---------- Font Import ---------- */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* ---------- Small Media First (414px) ---------- */


/* ----- Global ----- */

body {
    margin: 0 auto;
    background-color: rgba(122, 191, 191, 0.5);
    max-width: 414px;
    color: #0D0D0D;
}

a {
    text-decoration: none;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

/* ----- Header ----- */

header {
    background-color: #F2F2F2;
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
}

menu {
    list-style: none;
}

#taco {
    width: 50%;
    height: 50%;
}

/* ----- Main ----- */

main {
    min-width: 414px;
    margin: 0 auto;
    display: grid;
}

h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
}

dt {
    font-family: 'Monserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
}

dd {
    font-family: 'Monserrat', sans-serif;
    font-size: 16px;
}

#title {
    margin-top: 124px;
}


/* --- Details --- */

/* --- Ingredients --- */

/* --- Directions --- */

/* --- Side Dishes --- */

h3 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 25px;
}

/* --- Navigation --- */

nav {
    display: grid;
    grid-row-start: 1;
    position: sticky;
}

#nav {
    width: 414px;
    display: grid;
    grid-row-start: 1;
}

#nav_reposition {
    display: grid;
    grid-row-start: 2;
}


#nav_title {
    position: absolute;
    width: 235px;
    height: 95px;
    top: 0px;
    left: 23%;
    font-size: 0px;
    background-color: #EB5428;
}

#nav_title svg {
    position: relative;
    top: 12px;
    left: 36%;
}

#nav_signup {
    position: absolute;
    top: 0px;
    left: 80%;
    background-color: #FFFFFF;
    padding: 16px 18px;
}

#nav_signup p {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
}

#signup_icon {
    margin-left: 3px;
}

form {
    position: absolute;
}

/* Nav Menu */

h4 {
    visibility: hidden;
    height: 0px;
}

span p {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    margin-left: 3px;
}

nav img {
    visibility: hidden;
    height: 0px;
}

label[for="dropdown_menu"] {
    padding: 16px 17px 16px 36px;
    background-color: #FFFFFF;
}



/* JS Fiddle example: 
https://jsfiddle.net/1fzgah3n/ 


Menu Code for Mobile First Style (minus the bits you know how to do): */

ul {
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
}
label[for="dropdown_menu"] {
    cursor: pointer;
    display: inline-block;
    width: 45px;
    position: relative;
    user-select: none;
}

label[for="dropdown_menu"] span {
    display: block;
    position: relative;
    transition: background-color .2s ease-out;
    left: -20%;

}
label[for="dropdown_menu"] span:before, label[for="dropdown_menu"] span:after {
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
label[for="dropdown_menu"] span:before {
    top: 5px;
}
label[for="dropdown_menu"] span:after {
    top: -5px;
}
input[id="dropdown_menu"]  {
    display: none;
}
input[id="dropdown_menu"]:checked ~ ul {
    max-height: 500px;
}
input[id="dropdown_menu"]:checked ~ label span {
    background: transparent;
}

input[id="dropdown_menu"]:checked ~ label[for="dropdown_menu"]:not(.steps) span:before, input[id="dropdown_menu"]:checked ~ label[for="dropdown_menu"]:not(.steps) span:after {
    top: 0;
}

/*
@media screen and (min-width:834px) {
    ul {
        overflow: visible;
        position: absolute;
        top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    label span, input {
        display: none;
    }
} */

/* ----- Footer ----- */


/* ---------- Medium Media (768px) ---------- */




/* ---------- Large Media (1280px) ---------- */